<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <% end %>
  <p><%= image_tag 'sample-author1.jpg' %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
  <p>User name：<%= book.user.name %></p>
</div>
<% end %>