
   <div class="container px-5 px-sm-0">
    <div class="row">
     <div class="col-md-3">
      <%= render 'users/user_sidebar', user: @user %>
      <%= render 'books/book_sidebar', book: @bookk %>
     </div>
     <div class="col-md-8 offset-md-1">
  	  	<h2>Book detail</h2>
    		<table class="table">
  		   <tbody>
  		    <tr>
         <td>
          <%= link_to user_path(@user) do %><%= image_tag @user.get_profile_image(63,63), class:"attachment user profile_image fallback" %><% end %><br>
          <%= link_to user_path(@user) do %><% @book.user.name %><% end %>
         </td>
          <td><%= link_to book_path(@book) do %> <%= @book.title %> <% end %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
          <td><%= link_to edit_book_path, class:"btn btn-sm btn-success" do %> Edit<% end %></td>
          <% end %>
          <% if @book.user == current_user %>
          <td><%= link_to book_path(@book), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" do %>Delete<% end %></td>
          <% end %>

        </tr>
      </tbody></table>
    </div>
   </div>
  </div>
